table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: gray;
  color: white;
  font-weight: bold;
}

th, td {
  padding: 10px;
  text-align: center;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#prev, #next {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: gray;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#date {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
